/**
 * Filter
 */
.filter {
    padding: 1rem;

    background-color: var(--backgroundColor);
    border-radius: 4px;
}
#search > .filter {
    padding: 0;

    background-color: transparent;
}

.filter > h2 {
    margin-top: 0;
}

.filter .category_and_search {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;

    margin-bottom: 0.8rem;
}
@media (min-width: 768px) {
    .filter .category_and_search {
        flex-direction: row;
    }
}

.filter .category_and_search > .category {
    flex: 1 1 auto;
}
@media (min-width: 768px) {
    .filter .category_and_search > .category {
        flex: 0 1 256px;
    }
}

.filter .category_and_search > .category > .SumoSelect {
    width: 100%;
}

.filter .category_and_search > .category > .SumoSelect > p.SelectBox {
    display: flex;
    align-items: center;
    padding: 12px 8px;
    line-height: normal;

    border-color: #d9d9d9;
}

.filter .category_and_search > .search {
    flex: 1 1 auto;
}

.filter .tags {
    display: flex;
    gap: 1ch;
    flex-flow: row wrap;
}

.filter .tags > label {
    display: flex;
    flex-flow: row nowrap;
    gap: 0.2rem;

    user-select: none;
    cursor: pointer;
}

.filter .tags > label > input[type="checkbox"] {
    display: none;
}

.filter .tags > label > input[type="checkbox"] + div.tag::before {
    content: "\f02b";

    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}
.filter .tags > label:hover > input[type="checkbox"] + div.tag,
.filter .tags > label > input[type="checkbox"]:checked + div.tag {
    color: var(--colorPrimary);
}

.filter .tags > label:hover > input[type="checkbox"]:active + div.tag {
    color: inherit;
}

.filter .actions {
    display: flex;
    flex-flow: column nowrap;
    gap: 1ch;

    margin-top: 0.8rem;

    text-align: center;
}
@media (min-width: 768px) {
    .filter .actions {
        flex-flow: row wrap;
        align-items: center;
    }
}

/**
 * Listing
 */
ul.post_listing {
    --gap: 1rem;
    --gapSmall: 0.4rem;
    --gapCompact: 0.2rem;

    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(1, 1fr);

    margin-top: var(--gap);
    margin-bottom: var(--gap);

    list-style: none;
    hyphens: auto;
}

ul.post_listing > li {
    min-width: 0;
}

/**
 * Post
 */
.post,
.post.compact {
    display: flex;
}

.post {
    --fontSizePostTitleCompact: 0.8rem;

    flex-flow: column nowrap;
    gap: 1rem;

    padding-bottom: 1rem;
    overflow: hidden;

    border-bottom: 1px solid var(--backgroundColor);
}
@media (min-width: 400px) {
    .post {
        --fontSizePostTitleCompact: 1rem;
    }
}
@media (min-width: 512px) {
    .post {
        display: block;
        padding: 1rem;

        border: 1px solid var(--backgroundColor);
        border-radius: 4px;
    }
}
.post.compact {
    flex-direction: row;
}

/** Post Image */
.post > .image {
    aspect-ratio: 3/2;
    background-color: var(--backgroundColor);
}
@media (min-width: 512px) {
    .post > .image {
        float: left;
        width: 40%;
        margin-right: 1rem;
    }
}
.post.compact > .image {
    --metaHeight: 0.8rem;

    flex: 0 0 auto;
    width: auto;
    height: calc(((var(--fontSizePostTitleCompact) + var(--metaHeight)) * var(--lineHeight)) + var(--gapCompact));
}
@media (min-width: 512px) {
    .post.compact > .image {
        --metaHeight: calc(2 * 0.8rem);

        margin: 0;
    }
}

.post > .image > a > img,
.post > .image > a {
    display: block;
    width: 100%;
    height: 100%;
}
.post.compact > .image > a > img,
.post.compact > .image > a {
    height: 100%;
}

.post > .image > a > img,
.post.compact > .image > a > img {
    object-fit: cover;
    object-position: 50%;
}

.post_listing .post > .image > a:hover {
    border-bottom: none;
}

/** Post Meta */
.post > .content > .meta {
    display: flex;
    flex-flow: row-reverse wrap;
    gap: var(--gapSmall);
    justify-content: flex-end;

    font-size: 0.8rem;
}
@media (min-width: 512px) {
    .post > .content > .meta {
        flex-flow: column nowrap;
        justify-content: flex-start;
    }
}
.post.compact > .content > .meta {
    gap: var(--gapCompact);
}

/** Post Content Title */
.post > .content > .title {
    margin-bottom: var(--gapSmall);

    font-size: 1.2rem;
}
.post.compact > .content > .title {
    margin-bottom: var(--gapCompact);

    font-size: var(--fontSizePostTitleCompact);
}

/** Post Meta Tags */
.post > .content > .meta > .tags {
    display: flex;
    flex-flow: row wrap;
    gap: var(--gapSmall);
}

.post > .content > .meta > .tags > .tag {
    font-weight: normal;
    color: inherit;
}

.post > .content > .meta > .tags > .tag:hover {
    border: none;
}

/** Post Excerpt */
.post > .content > .excerpt {
    max-height: calc(2em * var(--lineHeight));
    margin-top: var(--gapSmall);
    overflow: hidden;
}
@media (min-width: 512px) {
    .post > .content > .excerpt {
        max-height: 100%;
    }
}
