:root {
    --lineHeight: 1.6;
    --backgroundColor: #f9f9f9;
}

/**
 * Sections
 */
section {
    margin: 2rem 0 4rem 0;
}
section:first-of-type {
    margin-top: 0;
}
section:last-of-type {
    margin-bottom: 0;
}

/**
 * Headings
 */
section .layout_content_inner.cf > h1,
section .layout_content_inner.cf > .blog > h1 {
    font-size: 2em;
}

/**
 * Buttons
 */
a.button,
form input[type="submit"] {
    display: inline-block;
    padding: 12px 8px;

    background-color: var(--backgroundColor);
    border: 1px solid #d9d9d9;
    border-radius: 4px;

    text-align: center;
    cursor: pointer;
}
a.button:hover,
form input[type="submit"]:hover {
    color: #fff;
    border-color: var(--colorPrimary);
    background-color: var(--colorPrimary);
}
