/**
 * Alignment
 */
.has-text-align-left {
    text-align: left;
}

.has-text-align-center {
    text-align: center;
}

.has-text-align-right {
    text-align: right;
}

.aligncenter {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.is-vertically-aligned-center {
    display: flex;
    align-items: center;
}

/**
 * Heading
 */
h1 {
    margin: 0 0 1rem 0;
}

h1 > a.post_edit_link {
    padding: 0 0.08em;
    border-radius: 4px;
}

h1 > a.post_edit_link:hover {
    background-color: #fff;
}

h3.wp-block-heading {
    margin: 20px 0 8px 0;
}

/** Fake Heading */
p.is-style-h2 {
    display: block;
    margin: 20px 0 8px 0;
    padding: 0 0 5px 0;

    font-size: 1.5em;
    font-weight: 600;

    border-bottom: 1px dotted #999;
    color: #444;
}

/**
 * Meta
 */
.meta {
    --margin: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: calc(var(--margin) / 2);
    padding-bottom: calc(var(--margin) / 2);
    border-bottom: 1px solid #ccc;

    font-size: smaller;
}
@media (min-width: 500px) {
    .meta {
        position: relative;
        float: right;
        gap: 1ch;

        padding: 1rem;
        margin-bottom: 0;
        margin-left: var(--margin);

        font-size: revert;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: var(--backgroundColor);
    }
}
.meta::after {
    content: "";

    position: absolute;
    top: 0;
    right: calc(100% + 1px);
    bottom: 0;

    width: var(--margin);

    background-color: #fff;
}

.meta ul {
    display: flex;
    flex-flow: row wrap;
    gap: 0 1ch;

    margin: 0;

    list-style: none;
}
@media (min-width: 500px) {
    .meta ul {
        display: revert;

        padding-left: calc(14px + 1ch);
    }
}

.meta ul > li::after {
    content: ",";
}
.meta ul > li:last-of-type::after {
    content: "";
}

/**
 * Meta Type
 *
 * Could be:
 *  - published date
 *  - categories
 *  - tags
 */
.meta > div {
    display: flex;
    flex-flow: row nowrap;
}
@media (min-width: 500px) {
    .meta > div {
        display: block;
    }
}

.meta > div > div {
    display: inline-block;
}
@media (min-width: 500px) {
    .meta > div > div {
        display: block;
    }
    .meta > div > div:first-of-type {
        border-bottom: 1px dotted #ccc
    }
}

.meta > div > div > i {
    width: 22px;
}

.meta > div > div > span {
    display: none;
}
@media (min-width: 500px) {
    .meta > div > div > span {
        display: revert;
    }
}

/** Tags */
.meta > div > div > i.fas.fa-tags {
    font-size: smaller;
}

/**
 * Featured Image
 */
.featured-image {
    margin-bottom: 1rem;
}

.wp-block-post-featured-image,
.wp-block-post-featured-image > img {
    border-radius: 4px;
}

.wp-block-post-featured-image {
    width: 100%;

    overflow: hidden;
}

.wp-block-post-featured-image > img {
    display: block;
    width: 100%;
    max-height: 40vh;
    object-fit: cover;
    object-position: 50%;
}
@media (min-width: 768px) {
    .wp-block-post-featured-image > img {
        object-fit: contain;
    }
}

/**
 * Columns
 */
.wp-block-columns.is-layout-flex {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    flex-direction: column;

    margin-bottom: 1rem;
}
@media (min-width: 768px) {
    .wp-block-columns.is-layout-flex {
        flex-direction: row;
    }
}

/** Image */
.wp-block-columns.is-layout-flex > .wp-block-column > .wp-block-image {
    border: 1px solid #d9d9d9;
    border-radius: 4px;

    overflow: hidden;
}
.wp-block-columns.is-layout-flex > .wp-block-column > .wp-block-image.is-style-noborder {
    border: none;
}

.wp-block-columns.is-layout-flex > .wp-block-column > .wp-block-image > img,
.wp-block-columns.is-layout-flex > .wp-block-column > .wp-block-image > a > img {
    display: block;
    width: 100%;
    height: auto;
}

.wp-block-columns.is-layout-flex > .wp-block-column > .wp-block-image > a:hover {
    border-bottom: none;
}

/**
 * Table
 */
figure.wp-block-table,
figure.wp-block-table > table {
    width: 100%;
}

figure.wp-block-table {
    display: inline-block;
}

figure.wp-block-table > table {
    border-collapse: collapse;
}

figure.wp-block-table > table > tbody > tr > td,
figure.wp-block-table > table > thead > tr > th {
    border: 1px solid #d9d9d9;
}

figure.wp-block-table > figcaption.wp-element-caption {
    padding: 2px 4px;

    font-size: smaller;

    background-color: var(--backgroundColor);
    border: 1px solid #d9d9d9;
    border-top: none;
}

/**
 * Grid
 */
.hybridsupply.grid > .wp-block-group__inner-container > .wp-block-columns {
    margin-top: 1rem;
}
.hybridsupply.grid > .wp-block-group__inner-container > .wp-block-columns:first-child {
    margin-top: 0;
}

.hybridsupply.grid .first > .wp-block-column {
    padding: 1rem;
}

/**
 * Lists
 */
ol.wp-block-list,
ul.wp-block-list {
    margin: revert;
    padding: revert;
}

/**
 * Images
 */
.wp-block-image > figure > img {
    width: 100%;
    height: auto;
    max-width: 100%;
}
@media (min-width: 768px) {
    .wp-block-image > figure > img {
        width: revert;
    }
}

/**
 * Gallery
 */
.wp-block-gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;

    margin-top: 1rem;
}
@media (min-width: 600px) {
    .wp-block-gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 985px) {
    .wp-block-gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

.wp-block-gallery > figure {
    position: relative;
    overflow: hidden;

    border: 1px solid #ccc;
    border-radius: 4px;
}

.wp-block-gallery > figure > :is(a, img),
.wp-block-gallery > figure > a > img {
    display: block;
    height: 100%;
}

.wp-block-gallery > figure > img,
.wp-block-gallery > figure > a > img {
    width: 100%;

    object-fit: cover;
}

.wp-block-gallery > figure > a:hover {
    border-bottom: none;
}

.wp-block-gallery > figure > figcaption {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    padding: 0.6rem 0.8rem;

    font-size: small;
    text-align: center;
    background-color: #f4f4f4;
    border-radius: 4px 4px 0 0;
}
