/**
 * Filter
 */
.filter {
    padding: 1rem;

    background-color: #f4f4f4;
}

.filter > h2 {
    margin-top: 0;
}

.filter .category_and_search {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;

    margin-bottom: 0.8rem;
}
@media (min-width: 768px) {
    .filter .category_and_search {
        flex-direction: row;
    }
}

.filter .category_and_search > .category {
    flex: 1 1 auto;
}
@media (min-width: 768px) {
    .filter .category_and_search > .category {
        flex: 0 1 256px;
    }
}

.filter .category_and_search > .category > .sumo_category_id,
.filter .category_and_search > .category > .sumo_category_id > p.SelectBox {
    height: 100%;
}

.filter .category_and_search > .category > .sumo_category_id {
    width: 100%;
}

.filter .category_and_search > .category > .sumo_category_id > p.SelectBox {
    display: flex;
    align-items: center;
}

.filter .category_and_search > .category > .sumo_category_id > .optWrapper {
    top: 100%;
}

.filter .category_and_search > .search {
    flex: 1 1 auto;
}

.filter .tags {
    display: flex;
    gap: 1ch;
    flex-flow: row wrap;
}

.filter .tags > label {
    padding: 0.2em 0.4em;

    border-radius: 4px;

    background-color: #d9d9d9;
}

.filter .actions {
    margin-top: 0.8rem;
}

/**
 * Listing
 */
ul.post_listing {
    --gap: 1rem;
    --gapSmall: 0.4rem;
    --gapCompact: 0.2rem;

    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(1, 1fr);

    margin-top: var(--gap);
    margin-bottom: var(--gap);

    list-style: none;
    hyphens: auto;
}

ul.post_listing > li {
    min-width: 0;
}

/**
 * Post
 */
.post,
.post.compact {
    display: flex;
}

.post {
    --backgroundColor: #f4f4f4;

    flex-flow: column nowrap;
    gap: 1rem;

    padding: 1rem;
    overflow: hidden;

    background-color: var(--backgroundColor);
}
@media (min-width: 512px) {
    .post {
        display: block;
    }
}
.post.compact {
    flex-direction: row;
}

/** Post Image */
.post > .image {
    background-color: #d9d9d9;
}
@media (min-width: 512px) {
    .post > .image {
        float: left;
        max-width: 40%;
        margin-right: 1rem;
    }
}
.post.compact > .image {
    flex: 0 0 auto;
    aspect-ratio: 16/9;
    height: calc(((1.2rem + 0.8rem + 0.8rem) * var(--lineHeight)) + var(--gapCompact) + var(--gapCompact));
}
@media (min-width: 512px) {
    .post.compact > .image {
        margin: 0;
    }
}

.post > .image > a > img,
.post > .image > a {
    display: block;
}
.post.compact > .image > a > img,
.post.compact > .image > a {
    height: 100%;
}

.post > .image > a > img {
    width: 100%;
}
.post.compact > .image > a > img {
    object-fit: cover;
    object-position: 50%;
}

.post_listing .post > .image > a:hover {
    border-bottom: none;
}

/** Post Meta */
.post > .content > .meta {
    display: flex;
    flex-flow: column nowrap;
    gap: var(--gapSmall);

    font-size: 0.8rem;
}
.post.compact > .content > .meta {
    gap: var(--gapCompact);
}

/** Post Content Title */
.post > .content > .title {
    margin-bottom: var(--gapSmall);

    font-size: 1.2rem;
}
.post.compact > .content > .title {
    margin-bottom: var(--gapCompact);
}

/** Post Meta Tags */
.post > .content > .meta > .tags {
    display: flex;
    flex-flow: row wrap;
    gap: var(--gapSmall);
}

.post > .content > .meta > .tags > .tag {
    padding: 0 0.4em;

    font-weight: normal;
    border-radius: 4px;
    color: inherit;
    background-color: #d9d9d9;
}

.post > .content > .meta > .tags > .tag:hover {
    border: none;
}

/** Post Excerpt */
.post > .content > .excerpt {
    margin-top: var(--gapSmall);
}
