/**
* Listing
*/
ul.category_listing,
ul.post_listing {
    --gap: 1rem;

    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(1, 1fr);

    margin-top: var(--gap);
    margin-bottom: var(--gap);

    list-style: none;
    hyphens: auto;
}
@media (min-width: 512px) {
    ul.category_listing {
        grid-template-columns: repeat(3, 1fr);
    }
}

ul.category_listing > li,
ul.post_listing > li {
    min-width: 0;
}

/**
 * Category
 */
.category {
    position: relative;

    aspect-ratio: 1;

    background-color: #f4f4f4;
}

/** Category Image */
.category > .image > img,
.category > .image > a > img {
    display: block;
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: 50%;
}

/** Category Name */
.category .name {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    padding: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-size: larger;
    background-color: #f4f4f4dd;
    overflow: hidden;
}
@media (min-width: 512px) {
    .category .name {
        font-size: medium;
    }
}
@media (min-width: 786px) {
    .category .name {
        font-size: large;
    }
}
@media (min-width: 1024px) {
    .category .name {
        padding: 2rem;

        font-size: x-large;
    }
}
@media (min-width: 1280px) {
    .category .name {
        font-size: xx-large;
    }
}

/**
 * Post
 */
.post {
    --backgroundColor: #f4f4f4;

    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;

    padding: 1rem;
    overflow: hidden;

    background-color: var(--backgroundColor);
}
@media (min-width: 512px) {
    .post {
        display: block;
    }
}
.post.compact {
    flex-direction: row;
}

/** Post Image */
.post > .image {
    float: left;
    max-width: 40%;
    margin-right: 1rem;

    background-color: #d9d9d9;
}
.post.compact > .image {
    flex: 0 0 auto;
    aspect-ratio: 16/9;
    height: calc(3em * var(--lineHeight));
    margin: 0;
}

.post > .image > a > img,
.post > .image > a {
    display: block;
}
.post.compact > .image > a > img,
.post.compact > .image > a {
    height: 100%;
}

.post > .image > a > img {
    width: 100%;
}
.post.compact > .image > a > img {
    object-fit: cover;
    object-position: 50%;
}

.post_listing .post > .image > a:hover {
    border-bottom: none;
}
