/**
 * Introduction
 */
#read_more_link,
#read_less_link {
    display: block;
    margin-top: 1rem;

    text-align: center;
    user-select: none;
}
@media (min-width: 600px) {
    #read_more_link,
    #read_less_link {
        display: none;
    }
}

#read_more_content > p:first-of-type {
    margin-top: revert;
}

#read_more_content {
    display: none;
}

#read_more_content.show,
#read_more_link.show,
#read_less_link.show {
    display: block;
}
@media (min-width: 600px) {
    #read_more_link.show,
    #read_less_link.show {
        display: none;
    }
}

#read_more_content.hide,
#read_more_link.hide,
#read_less_link.hide {
    display: none;
}
@media (min-width: 600px) {
    #read_more_content,
    #read_more_content.hide {
        display: block;
    }
}

/**
 * Category Listing
 */
ul.category_listing {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
}
@media (min-width: 600px) {
    ul.category_listing {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 985px) {
    ul.category_listing {
        grid-template-columns: repeat(4, 1fr);
    }
}

ul.category_listing li.category {
    transition: 0.2s ease border-color;

    border: 1px solid #d9d9d9;
    border-radius: 4px;
    overflow: hidden;
}
@media (min-width: 600px) {
    ul.category_listing li.category {
        aspect-ratio: 1;
    }
}
ul.category_listing li.category:hover {
    border-color: var(--colorPrimary);
}

ul.category_listing li.category a {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    justify-content: flex-start;
}
ul.category_listing li.category.no_image a {
    justify-content: center;
}

ul.category_listing li.category .name {
    padding: 0.8em;

    font-weight: 600;
    text-align: center;
}

ul.category_listing li.category .image {
    display: none;
}
@media (min-width: 600px) {
    ul.category_listing li.category .image {
        display: block;
    }
}

ul.category_listing li.category .image > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/**
 * Miscellaneous
 */

/** Posts Recent Show All */
section#posts_recent .posts_show_all {
    text-align: center;
}

section#posts_recent .posts_show_all a.button {
    width: 50%;
}
