/**
 * Alignment
 */
.has-text-align-left {
    text-align: left;
}

.has-text-align-center {
    text-align: center;
}

.has-text-align-right {
    text-align: right;
}

.aligncenter {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/**
 * Heading
 */
h1 > a.post_edit_link {
    padding: 0 0.08em;
    border-radius: 4px;
}

h1 > a.post_edit_link:hover {
    background-color: #fff;
}

h3.wp-block-heading {
    margin: 20px 0 8px 0;
}

/** Fake Heading */
.wp-block-paragraph.is-style-h2 {
    display: block;
    margin: 20px 0 8px 0;
    padding: 0 0 5px 0;

    font-size: 1.5em;
    font-weight: 600;

    border-bottom: 1px dotted #999;
    color: #444;
}

/**
 * Meta
 */
.meta {
    padding: 1rem;
    margin-bottom: 1rem;

    border-radius: 4px;
    background-color: var(--backgroundColor);
}

.meta > .taxonomy > .terms {
    display: inline-flex;
    gap: 1ch;
    flex-flow: row wrap;
}

.meta > .taxonomy > .terms > span::after {
    content: ',';
}
.meta > .taxonomy > .terms > span:last-of-type::after {
    content: '';
}

/**
 * Featured Image
 */
.wp-block-post-featured-image,
.wp-block-post-featured-image > img {
    border-radius: 4px;
}

.wp-block-post-featured-image {
    width: 100%;
    margin: 1rem 0;

    overflow: hidden;

    background-color: var(--backgroundColor);
}

.wp-block-post-featured-image > img {
    display: block;
    width: 100%;
    max-height: 40vh;
    object-fit: contain;
    object-position: 50%;
}

/**
 * Columns
 */
.wp-block-columns.is-layout-flex {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    flex-direction: column;
}
@media (min-width: 768px) {
    .wp-block-columns.is-layout-flex {
        flex-direction: row;
    }
}

/** Image */
.wp-block-columns.is-layout-flex > .wp-block-column > .wp-block-image {
    border: 1px solid #d9d9d9;
    border-radius: 4px;

    overflow: hidden;
}
.wp-block-columns.is-layout-flex > .wp-block-column > .wp-block-image.is-style-noborder {
    border: none;
}

.wp-block-columns.is-layout-flex > .wp-block-column > .wp-block-image > img,
.wp-block-columns.is-layout-flex > .wp-block-column > .wp-block-image > a > img {
    display: block;
    width: 100%;
    height: auto;
}

.wp-block-columns.is-layout-flex > .wp-block-column > .wp-block-image > a:hover {
    border-bottom: none;
}

/**
 * Table
 */
figure.wp-block-table,
figure.wp-block-table > table {
    width: 100%;
}

figure.wp-block-table {
    display: inline-block;
}

figure.wp-block-table > table {
    border-collapse: collapse;
}

figure.wp-block-table > table > tbody > tr > td,
figure.wp-block-table > table > thead > tr > th {
    border: 1px solid #d9d9d9;
}

figure.wp-block-table > figcaption.wp-element-caption {
    padding: 2px 4px;

    font-size: smaller;

    background-color: var(--backgroundColor);
    border: 1px solid #d9d9d9;
    border-top: none;
}

/**
 * Grid
 */
.hybridsupply.grid > .wp-block-group__inner-container > .wp-block-columns {
    margin-top: 1rem;
}

.hybridsupply.grid .first > .wp-block-column {
    padding: 1rem;
}

/**
 * Lists
 */
ol,
ul {
    margin: revert;
    padding: revert;
}
