/**
 * Search
 */
form input[type="submit"] {
    margin-top: 0.8rem;
}

/**
 * Miscellaneous
 */

/** Posts Recent Show All */
section#posts_recent .posts_show_all {
    text-align: center;
}

section#posts_recent .posts_show_all a.button {
    width: 50%;
}
