{if $categories}
    {config_load file="$language/modules/blog/grandeljay_wordpress_integration.conf" section="home_categories"}

    <section id="categories">
        <h2>{#home_categories_heading#}</h2>

        <ul class="category_listing">
            {foreach $categories as $category}
            <li class="category {if !$category.featured_image}no_image{/if}">
                    <a href="{$category.link}">
                        <div class="name">
                            {$category.name}
                        </div>

                        <div class="image">
                            {if $category.featured_image}
                                <img src="{$category.featured_image.source_url}" alt="{$category.featured_image.alt_text}" title="{$category.featured_image.title}">
                            {/if}
                        </div>
                    </a>
                </li>
            {/foreach}
        </ul>
    </section>
{/if}
